<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <listener>
        <description>ZK listener for session cleanup</description>
        <listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
    </listener>
    <!-- ====================================================== -->
    <!-- SPRING CONTEXT LOADER -->
    <!-- ====================================================== -->
    <listener>
        <display-name>Spring Context Loader</display-name>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- ====================================================== -->
    <!-- SPRING REQUEST LISTENER -->
    <!-- ====================================================== -->
    <listener>
        <display-name>Spring Request Context Listener</display-name>
        <listener-class>
	org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <!-- ====================================================== -->
    <!-- SPRING-SECURITY Entry Point -->
    <!-- ====================================================== -->
    <!-- Here in the web.xml we do only set a reference. -->
    <!-- The exact configuration is in -->
    <!-- the SpringSecurityContext.xml -->
    <!-- Look in the documentation. Spring security works -->
    <!-- exactly down the chain points. -->
    <!-- For not declared points in the -->
    <!-- SpringSecurityContext.xml Spring takes -->
    <!-- default values. -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <!-- Spring-Security is mapped to all URLs -->
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
	org.springframework.security.web.session.HttpSessionEventPublisher
        </listener-class>
    </listener>
    <description>Sistema recoleccion de información fiscal</description>
    <display-name>SistemaEnlace</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/security-manager.xml,
            /WEB-INF/spring-beans.xml,
            /WEB-INF/dispatcher-servlet.xml
        </param-value>
    </context-param>
    <!-- END Spring-Security -->
    <servlet>
        <description>ZK loader for ZUML pages</description>
        <servlet-name>zkLoader</servlet-name>
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
        <!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
		It must be the same as <url-pattern> for the update engine.
		-->
        <init-param>
            <param-name>update-uri</param-name>
            <param-value>/zkau</param-value>
        </init-param>
        <!-- [Optional] Specifies the default log level: OFF, ERROR, WARNING,
	INFO, DEBUG and FINER. If not specified, the system default is used.-->
        <init-param>
            <param-name>log-level</param-name>
            <param-value>OFF</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!-- Must -->
    </servlet>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.xml2html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.mul</url-pattern>
    </servlet-mapping>
    <!-- Optional. Uncomment it if you want to use richlets.
	-->
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>/zk/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>The asynchronous update engine for ZK</description>
        <servlet-name>auEngine</servlet-name>
        <servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
        <!-- [Optional] Specifies whether to compress the output
		of the ZK loader. It speeds up the transmission over slow Internet.
		However, if your server will do the compression, you might have to disable it.

        Default: true
        <init-param>
                                                                                                                                                                <param-name>compress</param-name>
                                                                                                                                                                <param-value>true</param-value>
        </init-param>
        -->
        <!-- [Optional] Specifies the AU processor for particular prefix.
        <init-param>
                                                                                                                                                                <param-name>processor0</param-name>
                                                                                                                                                                <param-value>/upload=com.my.MyUploader</param-value>
        </init-param>
        -->
    </servlet>
    <servlet-mapping>
        <servlet-name>auEngine</servlet-name>
        <url-pattern>/zkau/*</url-pattern>
    </servlet-mapping>
    <!-- Uncomment if you want to use the ZK filter to post process the HTML output
    generated by other technology, such as JSP and velocity.
    <filter>                                               		<filter-name>zkFilter</filter-name>
                                                                                                                                                            </init-param>
    </filter>
    <filter-mapping>
                                                                                                                                                            <filter-name>zkFilter</filter-name>
                                                                                                                                                            <url-pattern>/test/filter.dsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
                                                                                                                                                            <filter-name>zkFilter</filter-name>
                                                                                                                                                            <url-pattern>/test/filter2.dsp</url-pattern>
    </filter-mapping>
    -->
    <!-- ///////////// -->
    <!-- DSP (optional) -->
    <!-- Uncomment it if you want to use DSP
    However, it is turned on since zkdemo/userguide uses DSP to generate CSS.
    -->
    <servlet>
        <servlet-name>dspLoader</servlet-name>
        <servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
        <init-param>
            <param-name>class-resource</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dspLoader</servlet-name>
        <url-pattern>*.dsp</url-pattern>
    </servlet-mapping>
    <!-- /////////// -->
    <!-- Miscellaneous -->
    <!-- MIME mapping -->
    <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/vnd.ms-word</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>gif</extension>
        <mime-type>image/gif</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>htm</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jnlp</extension>
        <mime-type>application/x-java-jnlp-file</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jpeg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jpg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>text/javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pdf</extension>
        <mime-type>application/pdf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>rar</extension>
        <mime-type>application/x-rar-compressed</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xul</extension>
        <mime-type>application/vnd.mozilla.xul-xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zhtml</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zip</extension>
        <mime-type>application/x-zip</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zul</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>xhtml/index.zul</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ManejadorUsuarioBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.ManejadorUsuarioBeanLocal</local>
        <mapped-name>ejb/ManejadorUsuarioBean</mapped-name>
    </ejb-local-ref>    
    <ejb-local-ref>
        <ejb-ref-name>ejb/BodegasBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.BodegasBeanLocal</local>
        <mapped-name>ejb/BodegasBean</mapped-name>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/SucursalesBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.SucursalesBeanLocal</local>
        <mapped-name>ejb/SucursalesBean</mapped-name>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/LineaArticuloBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.LineaArticuloBeanLocal</local>
        <mapped-name>ejb/LineaArticuloBean</mapped-name>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>ejb/EmpresasBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.EmpresasBeanLocal</local>
        <mapped-name>ejb/EmpresasBean</mapped-name>
    </ejb-local-ref>

     <ejb-local-ref>
        <ejb-ref-name>ejb/PersonasBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.PersonasBeanLocal</local>
        <mapped-name>ejb/PersonasBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/CatalogosBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.CatalogosBeanLocal</local>
        <mapped-name>ejb/CatalogosBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/MarcaArticuloBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.MarcaArticuloBeanLocal</local>
        <mapped-name>ejb/MarcaArticuloBean</mapped-name>
    </ejb-local-ref>
    
     <ejb-local-ref>
        <ejb-ref-name>ejb/ArticulosBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.ArticulosBeanLocal</local>
        <mapped-name>ejb/ArticulosBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/BodegaVendedorBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.BodegaVendedorBeanLocal</local>
        <mapped-name>ejb/BodegaVendedorBean</mapped-name>
    </ejb-local-ref>
    
     <ejb-local-ref>
        <ejb-ref-name>ejb/TipoArticuloBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.TipoArticuloBeanLocal</local>
        <mapped-name>ejb/TipoArticuloBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/UmedidaArticuloBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.UmedidaArticuloBeanLocal</local>
        <mapped-name>ejb/TiUmedidaArticuloBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/MovimientosBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.MovimientosBeanLocal</local>
        <mapped-name>ejb/MovimientosBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/LotesExistenciaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.LotesExistenciasBeanLocal</local>
        <mapped-name>ejb/LotesExistenciaBean</mapped-name>
    </ejb-local-ref>
    
     <ejb-local-ref>
        <ejb-ref-name>ejb/ExistenciasBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.ExistenciasBeanLocal</local>
        <mapped-name>ejb/ExistenciasBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/RelacionAsignacionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.RelacionAsignacionBeanLocal</local>
        <mapped-name>ejb/RelacionAsignacionBean</mapped-name>
    </ejb-local-ref>
    
    <ejb-local-ref>
        <ejb-ref-name>ejb/MovimientosDetBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.MovimientosDetBeanLocal</local>
        <mapped-name>ejb/MovimientosDetBean</mapped-name>
    </ejb-local-ref>
    
     <ejb-local-ref>
        <ejb-ref-name>ejb/DetListaPrecioBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sv.com.diserv.liquidaciones.ejb.DetListaPrecioBeanLocal</local>
        <mapped-name>ejb/DetListaPrecioBean</mapped-name>
    </ejb-local-ref>
    
</web-app>
